active="true"
authenticationEnabled="false"
connectionId="LiferayElasticsearchClusterConnection"
httpSSLEnabled="false"
networkHostAddresses=[ \
  "http://elasticsearch:9200", \
  ]
proxyHost=""
proxyPort="0"
proxyUserName=""
truststorePath="/path/to/localhost.p12"
truststoreType="pkcs12"
username="elastic"
